<app-common-layout [heading]="category | titlecase" [image]="category">
    <div class="container" slot="main-content">
        <div class="mt-3">
            <div id="country-dd" class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{selectedCountry}}
                </button>
                <ul class="dropdown-menu overflow-y-scroll">
                    <li class="dropdown-item" (click)="dropDownSelect(country)" *ngFor="let country of countryDropDown">{{country}}</li>
                </ul>
            </div>
        </div>
        <div *ngIf="!isLoading">
            <div *ngIf="articles.length > 0; else noData">
                <div class="row my-3" *ngFor="let article of articles | randomSlice:10">
                    <app-category-card [article]="article"></app-category-card>
                    <hr class="mt-3 mb-0">
                </div>
            </div>
            <ng-template #noData>
                <h3 class="text-center my-3">No Data Available...</h3>
            </ng-template>
        </div>
        <app-spinner *ngIf="isLoading"></app-spinner>
    </div>
</app-common-layout>