img{
    height: 5rem;
    object-fit: cover;
}

#right {
    display: flex;
    flex-direction: column;
}

#source {
    font: 0.8rem var(--font-Sans);
    font-weight: 600;
}

#title {
    font-size: 10px;
    margin-top: 3px;
    color: var(--black-color);
}

#published {
    font: 0.6rem var(--font-poppins);
    margin-top: 5px;
    align-self: flex-end;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}