<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{source.name}}</h5>
        <p class="card-text">{{source.description}}</p>
        <div class="d-flex align-items-center mb-2">
            <span class="badge text-bg-info me-2">{{source.category | uppercase }}</span>
            <span class="badge text-bg-secondary me-2">{{source.country | uppercase }}</span>
            <!-- <span class="badge text-bg-info me-2">{{source.language | uppercase }}</span> -->
        </div>
    </div>
</div>