<app-navigation></app-navigation>
<div id="scroll-arrow" appScrollUp>
    <button class="btn scroll-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
        </svg>
    </button>
</div>
<footer>
    <div>
        <div class="social">
            <i id="link" class="bi bi-instagram"></i>
            <i id="whatsapp" class="bi bi-whatsapp"></i>
            <!-- <i id="meta" class="bi bi-meta"></i> -->
            <i id="x" class="bi bi-twitter-x"></i>
            <i id="x" class="bi bi-facebook"></i>
            <!-- <i id="x" class="bi bi-google"></i> -->
            <i id="x" class="bi bi-github"></i>
        </div>
        <p id="copy" class="fs-6 fw-light text-center">Copyright<sup>&copy;</sup> 2023; Designed &amp; built by <span
                class="fw-normal">Yash</span></p>
    </div>
</footer>